* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
header{
  background-color:#ff9a4b;
  height:50px;
  width:100%;
}
.main-contents{
  margin:50px auto;
  width:960px;
}
.content{
  float: left;
  background-color:#eee;
  width:300px;
  margin-right:30px;
  padding: 10px;
  position: relative;
}
.img{
  height:150px;
  width: 280px;
  background-size: cover;
  background-position: bottom;
}
.image1{
  background-image: url(img/flow01.png);
}
.image2{
  background-image: url(img/flow02.png);
}
.image3{
  background-image: url(img/flow03.png);
}
.content:nth-last-child(1){
  margin-right:0px;
}
.step{
  position: absolute;
  top: 0;
  left: 0;
  background-color:#ff9a4b;
  color: white;
}
section h3{
  padding:15px 0 5px;
}

footer{
  background-color:#aaa;
  height:50px;
  width:100%;
}
.clearfix::after{
  content: "";
  clear: both;
  display: block;
}
@media screen and (max-width:768px){
  .main-contents{
    width:100%;
  }
  .img{
    width: 100%;
  }
  .content{
    float: none;
    width:90%;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:20px;
  }
  .content:nth-last-child(1){
    margin-bottom:0px;
  }
}